<header id="masthead" class="masthead" role="banner">
    <div class="container">
        <div class="masthead-left">
            <%- include('branding') %>
            <%- include('breadcrumb') %>
        </div>
        <%- include('search') %>
    </div>
</header>
